<nav>

    <a href="/">
        <img src="/static/media/zoeken.png" class="navicon" alt="discover Icon">
    </a>
    <a href="admaken">
        <img src="/static/media/account.png" class="navicon" alt="account Icon">
    </a>
    <a href="chat">
        <img src="/static/media/chat.png" class="navicon" alt="chat icon">
    </a>

</nav>