<%- include('../head')%>
    <title>404 page not found</title>
    </head>

    <body>
        <header>
            <%- include('../header')%>
        </header>

        <main class="nopage">
            <p>Deze pagina bestaat helaas nog niet :(</p>
        </main>

        <footer>
            <%- include('../nav')%>
        </footer>
    </body>