<%- include('../partials/head')%>
    <title>admaken</title>
    </head>

    <body>
        <header>
            <%- include('../partials/header')%>
        </header>
        <main class="admaken">
            <h1>Nieuwe advertentie</h1>
            <form action=/ method=post>
                <input name=titel type="text" placeholder="Titel..">
                <textarea name=omschrijving placeholder="Omschrijving.."></textarea>
                <input name=naam type="text" placeholder="Jouw naam..">
                <input name=locatie type="text" placeholder="Locatie..">
                <input name=plaatsen type="submit" value="Plaatsen">
            </form>

        </main>
        <footer>
            <%- include('../partials/nav')%>
        </footer>
    </body>

    </html>