<%- include('../partials/head')%>
    <title>admaken</title>
    </head>

    <body>
        <header>
            <%- include('../partials/header')%>
        </header>
        <main class="admaken">
            <h1>

            </h1>
            <form action=/ method=post>

                <input name=titel type="text" placeholder="Titel.." required>
                <textarea name=omschrijving placeholder="Omschrijving.." required></textarea>
                <input name=naam type="text" placeholder="Jouw naam.." required>
                <input name=locatie type="text" placeholder="Locatie.." value="<%= city %> " required>
                <button name=plaatsen type="submit">plaatsen</button>

            </form>
        </main>
        <footer>
            <%- include('../partials/nav')%>
        </footer>
    </body>

    </html>