<%- include('../partials/head')%>
    <title>discover</title>
    </head>

    <body>
        <header>
            <%- include('../partials/header')%>
        </header>
        <main>

            <input type="search" placeholder="Zoeken..">

            <section>
                <a href="muziek">
                    <section>
                        <img loading="lazy" src="media/muziek.png" class="discovericon" alt="muziek icon">
                        <h1>Muziek</h1>
                    </section>
                </a>

                <a href="kunst">
                    <section>
                        <img loading="lazy" src="media/kunst.png" class="discovericon" alt="kunst icon">
                        <h1>Kunst</h1>
                    </section>
                </a>

                <a href="talen">
                    <section>
                        <img loading="lazy" src="media/talen.png" class="discovericon" alt="talen icon">
                        <h1>Talen</h1>
                    </section>
                </a>

                <a href="code">
                    <section>
                        <img loading="lazy" src="media/code.png" class="discovericon" alt="code icon">
                        <h1>Code</h1>
                    </section>
                </a>

                <a href="sport">
                    <section>
                        <img loading="lazy" src="media/sport.png" class="discovericon" alt="sport icon">
                        <h1>Sport</h1>
                    </section>
                </a>

                <a href="spellen">
                    <section>
                        <img loading="lazy" src="media/spellen.png" class="discovericon" alt="spellen icon">
                        <h1>Spellen</h1>
                    </section>
                </a>

                <a href="fotografie">
                    <section>
                        <img loading="lazy" src="media/fotografie.png" class="discovericon" alt="fotografie icon">
                        <h1>Fotografie</h1>
                    </section>
                </a>

                <a href="school">
                    <section>
                        <img loading="lazy" src="media/school.png" class="discovericon" alt="school icon">
                        <h1>School</h1>
                    </section>
                </a>
            </section>

        </main>

        <footer>
            <%- include('../partials/nav')%>
        </footer>


    </body>

    </html>