<%- include('../head')%>
    <title>muziek</title>
    </head>

    <body>
        <header>
            <img src="/static/media/logo.png" alt="Skills logo">
        </header>
        <main class="muziekpagina">
            <input type="search" placeholder=" Zoeken..">
            <section>
                <section>
                    <h1>
                        Gitaarles
                    </h1>
                    <p>
                        gitaarles aangeboden blablablablalba
                    </p>
                    <p>
                        aanbieder: Jimi Hendrix
                    </p>
                    <p>
                        locatie: Amsterdam
                    </p>
                </section>
                <section>
                    <h1>
                        Electrische bastriangel les
                    </h1>
                    <p>
                        Hierbij wil ik graag lesgeven...
                    </p>
                    <p>
                        aanbieder: Jan
                    </p>
                    <p>
                        locatie: Utrecht
                    </p>
                </section>
            </section>

        </main>
        <footer>
            <%- include('../nav')%>
        </footer>
    </body>

    </html>